* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.nav {

    margin: auto;
    margin-top: 20px;
    max-width: 300px;
    background-color: rgb(212, 122, 235);
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px;
}

.nav_bloc {
    display: flex;
    justify-content: space-between;
}

.nav_bloc_text {
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.body_inscription {
    padding: 30px;
    width: 450px;
    max-height: 500px;
    background-color: rgb(212, 122, 235);
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
}

.body_inscription_title {
    text-align: center;
    margin-bottom: 25px;
}

.body_inscription_form {
    height: 350px;
    background-color: rgb(162, 82, 236);
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px rgb(162, 82, 236);
    padding: 15px 10px;
}

.body_inscription_form_bloc {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.body_inscription_form_bloc_text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.body_inscription_form_bloc_input {
    height: 25px;
}

.body_inscription_btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}