* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.white {
    color: white;
}

.centre {
    display: flex;
}

/* Nav Connexion */
.nav {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 300px;
    background-color: #3c4349;
    box-shadow: 0px 0px 5px 0px white;
    border-radius: 7px;
}

.nav_bloc {
    display: flex;
    justify-content: space-between;
}

.nav_bloc_text {
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 2px black;
}

/* CSS Home */

.body {
    max-width: 1920px;
    margin: auto;
}

/* Nav Général */
.nav_bar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    height: 50px;
}

.nav_bar_navigation_text {
    font-size: 18px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 6px 15px;
    color: white;
    margin-left: 20px;
}

.nav_bar_deconnexion {
    font-size: 18px;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    padding: 6px 15px;
}

/* Banière */
.body_fond {
    max-height: 1080px;
    position: relative;
}

.body_fond_img {
    width: 100%;
    object-fit: cover;
    height: 1080px;
}

.body_fond_title {
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
}

.body_fond_bvn {
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 80px;
    text-align: center;
    width: 100%;
}

.body_fond_bloc {
    position: absolute;
    top: 150px;
    right: 10%;
    left: 10%;
    height: 870px;
    background: black;
    opacity: 0.87;
    border-radius: 10px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}

.body_fond_bloc_haut {
    text-align: center;
}

.body_fond_bloc_haut_btn {
    color: white;
    font-size: 23px;
    border: 1px solid white;
    padding: 7px 9px;
    border-radius: 10px;

}

.body_fond_bloc_affichage {
    border: 2px solid white;
    height: 700px;
    width: 800px;
    border-radius: 10px;
    margin: auto;
    color: white;
}

.body_fond_bloc_form {
    border: 1px solid white;
    width: 550px;
    height: 400px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body_fond_bloc_form_bloc {
    text-align: center;
}

.body_fond_bloc_form_bloc_text {
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

.body_fond_bloc_form_bloc_description {
    max-height: 80px;
    max-width: 270px;
}

.body_fond_bloc_form_submit {
    width: 90px;
    height: 30px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* CSS Footer */
.footer {
    width: 100%;
    height: 200px;
    background: black;
    padding-top: 30px;
}

.footer_line {
    margin: auto;
    width: 100px;
    border: 1px solid white;
}

.footer_logo {
    text-align: center;
    color: white;
    font-size: 55px;
}

.footer_text {
    margin-top: 30px;
    color: white;
    text-align: center;
}

.footer_bloc {
    margin-top: 15px;
    text-align: center;
}

.footer_bloc_logo {
    color: white;
    font-size: 23px;
    margin-right: 5px;
}


/* CSS Inscription */
.body_black {
    background: #000000;
}

.body_inscription {
    padding: 30px;
    width: 450px;
    max-height: 500px;
    background-color: #3c4349;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px white;
}

.body_inscription_title {
    text-align: center;
    color: white;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px black;
}

.body_inscription_form {
    height: 350px;
    background-color: #3c4349;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px white;
    padding: 15px 10px;
}

/* Faire un hover avec un box shadow et la couleur rgb(218, 137, 255) pour faire un rappel de violet */

.body_inscription_form_bloc {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.body_inscription_form_bloc_text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.body_inscription_form_bloc_input {
    height: 25px;
}

.body_inscription_btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}